<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-button class="example-icon mr20">
     <h1>Inicio</h1>
    </a>
    <a [routerLink]="'/veterinario'" mat-button class="example-icon mr20">
        <h1>Veterinarios</h1>
       </a>
    <a [routerLink]="'/servicios'" mat-button class="example-icon mr20">
     <h1>Servicios</h1>
    </a>
    <a [routerLink]="'/historial'" mat-button class="example-icon mr20">
        <h1>Historial</h1>
       </a>
    <a [routerLink]="'/regmas'" mat-button class="example-icon mr20">
        <h1>Registrar Mascota</h1>
    </a>
    <a [routerLink]="'/citas'" mat-button class="example-icon mr20">
        <h1>Agendar Cita</h1>
    </a>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-button class="example-icon favorite-icon mr20">
        <h1>Iniciar sesión</h1>
    </a>
    <a [routerLink]="'/signup'" mat-button class="example-icon favorite-icon mr20 " >
     <h1>Registrarse</h1>
    </a>
</mat-toolbar>